@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap');
/* reset */

html,body,div,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,blockquote,address,table,thead,th,td,tbody,tfoot,caption,header,nav,section,article,main,figure,figcaption,aside,footer,form, fieldset, legend {margin: 0; padding: 0;}
header,
nav,
section,
article,
main,
figure,
figcaption,
aside,
footer {
    display: block;
}
ul li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
em,i,address,cite {font-style: normal;}

/* 텍스트 블라인드 */
.blind {
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

/* 가상선택자를 이용한 플롯트해제 */
.clear:before,.clear:after {
    content: '';
    display: block;
    clear: both;
}
